.grid-container {
  margin: 0;
  width: 75%;
}

.grid-content {
  margin: 12% 20%;
  padding: 0 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-center-line {
  width: 100%;
  display: block;
  height: 0.1rem;
  border-radius: 10px;
  background-color: #0097c0;
}
